/* Jost */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100&display=swap');

/* Comfortaa */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Jost:wght@100&display=swap');


body {
    font-family: 'Jost', sans-serif;
    font-weight: 900;
    font-size: 1.6rem;
}

h1 {
    font-family: 'Comfortaa', sans-serif;
}

h2 {
    font-family: 'Jost', sans-serif;
}

/* 
set all the text with block elements to have a margin-bottom of 1rem

*/


h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
blockquote,
pre,
dd,
dt,

{
margin-bottom: 1rem;
}