/* Jost */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100&display=swap');

/* Comfortaa */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Jost:wght@100&display=swap');


body {
    font-family: 'Jost', sans-serif;
    font-weight: 900;
}

h1 {
    font-family: 'Jost', sans-serif;
}

h2 {
    font-family: 'Comfortaa', sans-serif;
}

p {
    margin: 0;
    padding: 0;
    padding-bottom: 1rem;
    line-height: 1.5;
}

ol {
    margin: 0;
    padding: 0;
    list-style-type: decimal;
}

/* good styling for a default li */
ol>li {
    margin: 0;
    padding: 0;
    padding-bottom: 1rem;
    line-height: 1.5;
}